html {
 background-color: black;
 background-image:url('/x.jpg');
 background-position: center center;
 background-attachment: fixed;
 background-repeat: no-repeat;
 webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
}